/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-block-start: 100px;
    padding-inline: calc((100% - 700px) / 2);
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--main-font), sans-serif;
    font-variation-settings: 'wght' var(--weight-main-font);
    background-image: repeating-linear-gradient(90deg, var(--main-back-color), var(--main-back-color) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(0deg, var(--main-back-color), var(--main-back-color) 2px, transparent 2px, transparent 4px),
    linear-gradient(0deg, var(--alt-back-color-from), var(--alt-back-color-from) 0.01%, var(--alt-back-color-to));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--alt-color);
    font-size: 18px;
    fill: var(--alt-color);
}

.header {
    inline-size: 100%;
    block-size: fit-content;
    max-block-size: 368px;
    background: var(--main-color);
    border: 2px solid var(--alt-color);
    font-family: var(--alt-font), sans-serif;
    padding-block: var(--header-padding-block-start) 26px;
    text-transform: uppercase;
}

.header__title {
    display: flex;
    justify-content: center;
    font-size: var(--header-title-font-size);
    margin-block-end: 20px;
}

.header__second-title {
    display: flex;
    justify-content: center;
    font-size: var(--header-second-title-font-size);
    margin-block-end: 25px;
}

.theme-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.theme-menu__list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-inline-start: 18px;
}

.theme-menu__button {
    position: relative;
    transition: opacity ease 0.3s;
}

.theme-menu__button:hover {
    opacity: 0.6;
}

.theme-menu__button:focus {
    outline: none;
    opacity: 0.6;
}

.theme-menu__button:focus-visible {
    outline: none;
    opacity: 0.6;
}

.theme-menu__button::after {
    content: ' ';
    position: absolute;
    inline-size: 100%;
    block-size: 2px;
    background: var(--alt-color);
    inset-inline-start: 0;
    inset-block-end: 0;
    transition: scale ease 0.3s, translate ease 0.3s;
    scale: 0 1;
    translate: -50%;
}

.theme-menu__button:focus-visible::after {
    scale: 1 1;
    translate: 0;
}

.theme-menu__button:disabled {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
}

.theme-menu__button:disabled::before {
    position: absolute;
    content: '▶';
    inset-inline-start: -14px;
    inset-block-end: 0;
    animation: arrow-active 0.5s ease-in-out infinite alternate;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.card {
    background: var(--main-color);
    border: 2px solid var(--alt-color);
}

.card_zero-sprint .card__image {
    filter: none;
}

.card_first-sprint-start .card__image {
    filter: sepia(60%) hue-rotate(20deg);
}

.card_first-sprint-end .card__image {
    filter: brightness(200%) contrast(200%);
}

.card_second-sprint-start .card__image {
    filter: saturate(80%);
}

.card_second-sprint-end .card__image {
    filter: invert(1);
}

.card_third-sprint-start .card__image {
    filter: sepia(80%);
}

.card_third-sprint-end .card__image {
    filter: blur(10px);
}

.card_now .card__image {
    filter: hue-rotate(60deg);
}

.card__title {
    font-variation-settings: 'wght' var(--weight-alt-font);
    padding: 5px 9px;
}

.card__picture {
    position: relative;
    overflow: hidden;
}

.card__image {
    border-block: 2px solid var(--alt-color);
}

.card__watermark {
    position: absolute;
    inset-block-start: 25px;
    inset-inline-end: 25px;
    font-family: 'PressStart2P', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--alt-color);
    text-shadow: 1px 0 var(--main-color),
    0 1px var(--main-color),
    -1px 0 var(--main-color),
    0 -1px var(--main-color);
    opacity: 0.5;
    mix-blend-mode: hard-light;
}

@supports ((text-stroke: 0.5px var(--main-color)) or (-webkit-text-stroke: 0.5px var(--main-color))) {
    .card__watermark {
        -webkit-text-stroke: 0.5px var(--main-color);
        text-stroke: 0.5px var(--main-color);
        text-shadow: none;
    }
}


.card__body {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
}

.card__text {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.card__like {
    display: flex;
    justify-content: end;
    gap: 4px;
}

.card__icon-button {
    padding: 0;
    border-color: transparent;
    transition: border-color ease 0.3s;
}

.card__icon-button::before {
    content: none;
}

.card__icon-button:focus-visible {
    box-shadow: none;
    border-color: var(--alt-color);
}

.core {
    fill: transparent;
    transition: fill linear 0.3s 0.03s;
}

.main-body {
    fill: transparent;
    transition: fill linear 0.3s;
}

.contour {
    transition: fill linear 0.1s;
}

.sparks {
    fill: red;
    opacity: 0;
}

.card__icon-button:hover .core {
    fill: var(--alt-color);
    transition: fill linear 0.3s;
}

.card__icon-button:hover .main-body {
    fill: var(--alt-color);
    transition: fill linear 0.3s 0.05s;
}

.card__icon-button:active .core {
    fill: red;
    transition: fill linear 0.3s;
}

.card__icon-button:active .main-body {
    fill: red;
    transition: fill linear 0.3s 0.05s;
}

.is-liked .core {
    fill: red !important;
    transition: fill linear 0.3s;
}

.is-liked .main-body {
    fill: red !important;
    transition: fill linear 0.3s 0.05s;
}

.is-liked .contour {
    fill: red;
    transition: fill linear 0.3s 0.06s;
}

.is-liked {
    animation: heart-scale ease-in 0.3s 0.1s alternate 2;
}

.is-liked .sparks {
    animation: sparks-opacity ease-in 0.3s 0.3s alternate 2;
}

.card__like-button {
    inline-size: 130px;
}

.main__save {
    display: flex;
    gap: 9px;
    background: var(--main-color);
    block-size: 55px;
    inline-size: 340px;
}

.main__save-icon {
    block-size: 21px;
    z-index: 1;
}

@media (width <= 375px) {
    .main__save {
        flex-direction: column;
        block-size: 84px;
        inline-size: 310px;
    }

    .main__save-icon {
        block-size: 28px;
    }
}

#dialog-id {
    background: var(--main-color);
    color: inherit;
}

#dialog-id::backdrop {
    background-color: rgb(0 0 0 / 75%);
}

#dialog-id[open] {
    max-inline-size: 330px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    font-family: 'PressStart2P', sans-serif;
    font-size: 14px;
    line-height: 100%;
}

.dialog__body {
    display: flex;
    gap: 20px;
}

.dialog__save-icon {
    block-size: 39px;
    flex: 0 0 39px;
}
